extends _layout

block content
    .glass-card
        .card-body.text-center
            h1.display-1.text-danger Error 
            p.lead Failed to create new record because there is already an existing record. You can 
                | 
                a(href="javascript:history.back()") go back
                | 
                | to the previous page, or
                | 
                a(href="/") return home 